ELASTICSEARCH_HOSTNAME=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=changeme

# Optional. Defaults to http.
ELASTICSEARCH_PROTOCOL=http

POSTGRES_HOST=10.0.0.209
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=postgres
